<div class="list">
<% for (const item of items) { %>
<div class="quarto-post" <%= metadataAttrs(item) %>>
  <table>
    <tr>
      <td>
        <h3 class="no-anchor listing-title">
          <a href="<%- item.path %>"><%- item.title %></a>
        </h3>
        <p class="quarto-title-authors listing-author"><%= item.author %> <em><%- item.subtitle %></em> <%- item.date %>.</p>
      </td>
    </tr>
  </table>
</div>
<% } %>
</div>