<div class="list">
<% for (const item of items) { %>
<div <%= metadataAttrs(item) %>>
  <table>
    <tr>
      <td>
        <a href="<%- item.path %>"><h5 class="listing-title"><%- item.title %></h5></a>
        <p class="quarto-title-authors listing-author"><%= item.author %> <em><%- item.subtitle %></em> <%- item.date %>.</p>
        <br>
      </td>
    </tr>
  </table>
</div>
<% } %>
</div>