<div class="list">
<% for (const item of items) { %>
<div class="quarto-post" <%= metadataAttrs(item) %>>
  <br>
  <table>
    <tr>
      <td>
        <a href="<%- item.path %>">
          <img src="<%- item.image %>" alt="<%- item.description %>" class="thumbnail-image"/>
        </a>
      </td>
      <td>
        <h3 class="no-anchor listing-title">
          <a href="<%- item.path %>"><%- item.title %></a>
        </h3>
        <span class="text-muted listing-subtitle"><%= item.subtitle %></span>
        <p class="quarto-title-authors listing-author">
          <%- item.author %>
        </p>
      </td>
    </tr>
  </table>
</div>
<% } %>
</div>